footer {
    background-color: $color-blue;
    color: #fff;
    display: flex;
    font-family: $font-1;
    justify-content: center;

    .footer-content {
        flex: 1;
        padding: 50px 30px;
        text-align: center;

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
            line-height: 30px;
        }

        span {
            color: $color-button;
        }
        
        .footer-icons {
            i {
                border: 2px solid #fff;
                border-radius: 50%;
                margin: 0 5px;
                padding: 10px;
                width: 40px;

                &:hover {
                    background-color: #fff;
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

#copyright {
    background-color: $color-copyright;
    color: #fff;
    font-family: $font-1;
    font-size: 13px;
    padding: 20px 0;
    text-align: center;
}